.benefits-section {
	background: var(--gray);
	min-height: calc(100vh);
	max-height: 763px;
	padding: 180px 15px;
	width: 100%;

	&__contents {
		max-width: 1100px;
		margin: 0 auto;
	}

	&__h1 {
		font-size: 48px;
		font-weight: 700;
		margin: 0 0 30px 0;
	}

	&__text {
		line-height: 30px;
	}
}

.benefits {
	margin-top: 40px;

	&__item {
		max-width: 22.5%;
		flex-basis: 25%;

		&-logo {
			font-size: 64px;
		}

		&-text {
			line-height: 30px;
		}

		&-title {
			margin: 20px 0;
			white-space: nowrap;
			font-size: 18px;
			font-weight: 700;
		}
	}
}

@media (max-width: 575.98px) {
	.benefits {
		&__item {
			flex-basis: 100%;
			max-width: 90%;

			&:last-of-type {
				margin-bottom: 0px;
			}

			&:not(:last-of-type) {
				margin-bottom: 30px;
			}

			&-logo {
				font-size: 48px;
			}
		}
	}
	.benefits-section {
		padding: 45px 15px;
		&__h1 {
			font-size: 25px;
		}
	}
}

@media (max-width: 991.98px) {
	.benefits-section {
		max-height: none;
		height: auto;
		padding: 70px 15px;
	}
	.benefits {
		&__item {
			flex-basis: 50%;
			max-width: 40%;
			margin-bottom: 40px;
		}
	}
}
