.button {
	border-radius: 26px;
	height: 52px;
	width: 159px;
	font-weight: 600;

	&--pink {
		background-color: var(--pink);

		&:hover {
			background-color: var(--dark-pink);
		}
	}
}
@media (max-width: 991.98px) {
	.button {
	    height: 45px;
	    width: 150px;
		font-size: 14px;
	}
}
