.navigation {
	height: 100px;
	background: var(--white);

	&__logo {
		font-family: 'Open Sans';
		color: inherit;
		text-decoration: none;
		font-weight: 800;
		font-size: 36px;

		&-wrapper {
			display: flex;
			justify-content: center;
		}

		&:before {
			font-family: FontAwesome;
			content: '\f013';
			margin-right: 8px;
		}
		&:hover {
			text-decoration: none;
			color: initial;
		}
	}

	&__menu {
		justify-content: space-between;
		align-items: center;

		&-hamburger {
			align-items: center;
			justify-content: center;
		}

		&-icon {
			&:hover {
				cursor: pointer;
			}
		}

		li > a {
			color: var(--black);
			font-weight: 600;
		}
	}
}

@media (max-width: 575.98px) {
	.navigation {
		height: 60px;

		&__menu-icon {
			height: 19px;
			width: auto;
		}

		&__logo {
			font-size: 26px;
			font-weight: 600;
		}
	}
}

@media (max-width: 991.98px) {
	.navigation {
		&__logo {
			font-size: 30px;
		}
	}
}