.search-form {
	width: 736px;
	font-size: 13.5px;

	.form-control {
	    flex-grow: 1;
	    height: 70px;
		text-indent: 30px;
	    margin-right: 0 !important;
	    border-bottom-right-radius: 0;
	    border-top-right-radius: 0;
	    border-bottom-left-radius: 41.5px;
	    border-top-left-radius: 41.5px;
	    border: 0px solid transparent;
	    font-size: inherit;
	    text-overflow: ellipsis;

	    &::placeholder {
	    	color: var(--black);
	    }
	}

	.btn {
		width: 135px;
		height: 70px;
	    background: var(--pink);
	    margin-left: -3px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 41.5px;
	    border-top-right-radius: 41.5px;
	    border: 0px solid transparent;
	    color: var(--black);
	    font-size: inherit;
	    outline: none;

	    &:hover {
			background-color: var(--dark-pink);
		}
	}

	&__icon {
		margin-left: -10px;
	}
}

@media (max-width: 575.98px) {
	.search-form  {
		max-width: 100%;

		.form-control {
			height: 50px;
			text-indent: 10px;
		}

		.btn {
			height: 50px;
		}

		&__text {
			display: none;
		}

		&__icon {
			margin-right: 0;
		}
	}
}

@media (max-width: 991.98px) {
	.search-form  {

		.form-control {
			text-indent: 30px;
		}

		&__text {
			display: initial;
		}

		&__icon {
			margin-right: 7px;
		}
	}
}