.search-section {
	position: relative;
	display: -webkit-inline-box;
	min-height: calc(100vh - 100px);
	max-height: 816px;
	padding: 180px 15px;
	width: 100%;
	background: url(../images/daniel-von-appen.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	&:before {
	    position: absolute;
	    content: " ";
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    background-color: rgba(0,0,0,.45);
	}

	&__contents {
	    flex-grow: 1;
	    position: relative;
	    z-index: 2;
	}

	&__search-form {
		margin: 0 auto;
	}

    &__h1 {
    	max-width: 900px;
    	margin-right: auto;
    	margin-left: auto;
    	margin-bottom: 70px;
    	font-size: 48px;
    	font-weight: 600;
    	text-shadow: 1px 0.5px var(--white);
	    -webkit-text-stroke: 1px var(--white);
	    -webkit-font-smoothing: antialiased;

	    &:hover {
	    	cursor: pointer;
	    }
    }

    &__social-section {
    	margin-top: 70px;
    }
}

@media (max-width: 575.98px) {
	.search-section  {
		padding: 50px 15px;

		&__h1 {
			max-width: 100%;
			font-size: 30px;
    		margin-bottom: 35px;
		}

		&__social-section {
	    	margin-top: 50px;
	    }
	}
}

@media (max-width: 767.98px) {
	.search-section  {
		padding: 70px 15px;
	}
}

