.social-section {
	&__item {
		&:not(:last-of-type){
			margin-right: 15px;
		}
	}
}

@media (max-width: 575.98px) {
	.social-section {
		&__item {
			&:not(:last-of-type){
				margin-right: 10px;
			}
		}

		&__img {
			height: 48px;
			width: auto;
		}
	}
}